{% extends "layout.html" %}

{% block title %} {{ name }} {% endblock %}

{% block active1 %} active {% endblock %}

{% block link_in_nav %}
    <p style="color: white">{{ user_profile.username }}</p>
    <a href="/" class="btn btn-outline-light me-2" type="button">Log out</a>
{% endblock %}

{% block content %}
    <h4 class="title">{{ name }}</h4>
    <div>
        {% load static %}
        <img src="{% static '/' %}staples.jpg" alt="Staples" style="width:250px; height: 150px">
        <p><u>Founded:</u> {{ founded }}</p>
        <p><u>Owner:</u> {{ owner }}</p>
        <p><u>Description:</u> {{ desc }}</p>
    </div>
    <div>
        <p></p>
    </div>
{% endblock %}