{% extends "layout.html" %}

{% block title %} Cart {% endblock %}

{% block link_in_nav %}
    <p style="color: white">{{ user_profile.username }}</p>
    <a href="/" class="btn btn-outline-light me-2" type="button">Log out</a>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h4 class="title">Cart</h4>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
            {% for cart_el in cart %}
                {% if cart_el.quantity > 0 and cart_el.user_id == user.id %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ cart_el.product }}</h5>
                                <p class="card-text">
                                    <u>Quantity:</u> {{ cart_el.quantity }}
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="/products/{{ cart_el.product_id }}" class="btn btn-primary me-2">Details</a>
                                <a href="/cart/{{ cart_el.product_id }}" class="btn btn-danger me-2">+</a>
                                <a href="/cart/delete_product/{{ cart_el.product_id }}" class="btn btn-danger me-2">-</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a href="/cart/send_order" class="btn btn-success mt-4">Send the order</a>
    </div>
    <div style="height: 270px"></div>

{% endblock %}
