{% extends "layout.html" %}

{% block title %} Categories {% endblock %}

{% block active1 %} active {% endblock %}

{% block link_in_nav %}
    <p style="color: white">{{ user_profile.username }}</p>
    <a href="/" class="btn btn-outline-light me-2" type="button">Log out</a>
{% endblock %}

{% block content %}
    <h4 class="title">Categories</h4>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
    {% for category in categories %}
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">
                        <u>You can find there:</u> {{ category.examples }}
                    </p>
                </div>
                <div>
                    {% load static %}
                    <img src="{% static 'cat_img/' %}{{ category.id }}.jpg" alt="Image {{ category.id }}" style="width:200px; height: 150px">
                </div>
                <div class="card-body">
                    <a href="/products/{{ category.id }}" class="btn btn-primary">Review</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}