{% extends "layout.html" %}

{% block title %} Products {% endblock %}

{% block link_in_nav %}
    <p style="color: white">{{ user_profile.username }}</p>
    <a href="/" class="btn btn-outline-light me-2" type="button">Log out</a>
{% endblock %}

{% block content %}
    <h4 class="title">Products</h4>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
    {% for product in products %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        <u>Price:</u> {{ product.price }}
                    </p>
                    <p class="card-text">
                        <u>Short description:</u> {{ product.desc }}
                    </p>
                    <p class="card-text">
                        <u>Category:</u> {{ product.category }}
                    </p>
                </div>
                <div class="card-body">
                    <a href="/cart/{{ product.id }}" class="btn btn-danger">Add to cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
